@model Projekt_atrakcje.Models.User

@{
    ViewData["Title"] = "Szczegóły";
}

<div class="container">
    <h1 class="text-center">Szczegóły</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Użytkownik</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Name_user)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name_user)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info">Edycja</a>
    <a asp-action="Index" class="btn btn-secondary">Wróć do strony głównej</a>
</div>
